/* Apply the "Helvetica Light" font to all text */
body {
    font-family: "Helvetica Neue Light", "Helvetica", sans-serif;
    font-weight: 300; /* 300 is the font weight for "Helvetica Light" */
    background-image: url('b_and_white_protein.png'); 
    background-size: 50% auto;
    background-size: cover; 
    background-attachment: fixed; 
    background-color: rgb(255, 255, 255);
}

/* Style heading */
h1 {
    font-weight: 300;
    text-align: left;
}

/* Style form container */
form {
    font-weight: 300; 
}

/* Style text input area */
textarea {
    font-weight: 300; 
}

/* Style submit button */
input[type="submit"] {
    font-weight: 300; 
}

/* Style h3 text */
h3 {
    font-weight: 300; 
}

.text_box {
    background-color: rgb(242, 242, 242, 0.8)
}

table.dataframe {
    width: 20%;
    border-collapse: collapse;
    margin: 20px auto;
    float: left;
    background-color: rgb(242, 242, 242, 0.8)
}

table.dataframe th, table.dataframe td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

table.dataframe th {
    background-color: #f2f2f2;
}

/* Set column widths */
table.dataframe th:first-child,
table.dataframe td:first-child {
    width: 20%;
}

table.dataframe th:nth-child(2),
table.dataframe td:nth-child(2) {
    width: 40%; 
}

table.dataframe th {
    text-align: left;
}

.table {
    
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}
.chart-container {
    width: 90%;
    margin-left: 40px; 
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

#myBox {
    width:55%;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
  }

  .logo {
    width: 99px; /* Set the width of the div */
    height: 99px; /* Set the height of the div */
    background-image: url('ampnet_logo.png');
    background-size: 100% 100%; /* This will scale the image to fit the div */
    /*display: inline-block;*/
    vertical-align: middle;
    margin-right: 5px;
    float: left;
}