<!DOCTYPE html>
<html>
<head>
    <title>AMP Predictions - Error Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <a href="/">
        <div class="logo"></div>
    </a>
    <br>
    <h1>AMPnet: An error occurred</h1>
    <hr>
    <p>{{ error_message }}</p>
    <p>Example:</p>
    <div id="myBox">
        >vacAl00p<br>PEGGYKDKPNNTPSQSGAKNDKQESSQNNSNTQVINPP<br>
        >teAMP0021<br>ICLLVQARVRPRVC<br>
        >teAMP0024<br>FLPLIAGVAANFLPKIFCLISKKC<br>
        >teNEGATIVE0010<br>QQWPRDPAPIPP<br>
        >teNEGATIVE0011<br>MQYISLNTTIITTTETTGYGAG<br>
        >teAMP0025<br>DNGYLLDKYTGCKVWCVINNESCNSECKIRGGYYGYCYFWKLACFCQGARKSELWNYNTNKCNGKL<br>
        >teNEGATIVE0007<br>AEVFKSEEGSVDFYGQLRPA<br>
        >teAMP0028<br>ILGPVLGLVGNALGGLIKEI<br>
        >teNEGATIVE0001<br>ADDKCEDSLRREIACTKCRDRVRTDDYFYECCTSESTFKKCQTMLHQ<br>
        >teNEGATIVE0002<br>MDIITLGWVGVLSVFTLSIAFVVWGRHGM<br>
        >teAMP0029<br>RRPPGWSPLR<br>
        >teAMP0031<br>RFGRFLRKIRRFRPKVTITIQGSARFG<br>
        >teAMP0032<br>LVPFIGRTLGGLLARF<br>
        >teNEGATIVE0006<br>MTASMRLK<br>
        >teNEGATIVE0012<br>AACYSSDCRVKCRAMGFSSGKCIDSKCKCYK<br>
        >teAMP0072<br>EWKLPDLIINHITLTRRNCNKYRCG<br>
        >teAMP0082<br>GFFAFIPKIISSPLFKTLLSAVGSALSSSGEQE<br>
        >teNEGATIVE0013<br>GKITFYEDRNFQGRCYECSTDCPDLSPYFS<br>
        >teNEGATIVE0004<br>AVKCIGWQETCNGKLPCCDGCVMCECNIMGQNCRCNHPKATSECES<br>
    </div>
</body>
</html>